{% extends 'ProjectBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="content">
        {{ status }}
        {% if fileName is defined %}
            <a href="{{ dir }}/{{ fileName }}">Просмотр</a>
        {% endif %}
    </div>
</div>
{% endblock %}