{% extends 'ProjectBundle::base.html.twig' %}

{% block title %}{{ teamName.team1 }} - {{ teamName.team2 }} {% endblock %}

{% block body %}
<div class="row">
    <div class="content">
            <div class="name_teams">
                {% for name in teamName %}
                    <span>{{ name }}</span>
                {% endfor %}
            </div>

            <div class="score">
                {% for team in score %}
                    <span>{{ team }}</span>
                {% endfor %}
            </div>

            <div class="col-md-offset-4 col-md-2">
                <div class="goals">
                    {% for player, goals in playersWithGoals.team1 %}
                        <p>{{ player }} - {{ goals }}</p>
                    {% endfor %}
                </div>
            </div>

            <div>
                <div class="col-md-offset-1 col-md-5">
                {% for player, goals in playersWithGoals.team2 %}
                    <p>{{ player }} - {{ goals }}</p>
                {% endfor %}
            </div>

            </div>
            <div class="col-md-8">
                {% for notice in info %}
                    <div class="info">
                        <div class="time">{{ notice.time }}</div>
                            <div class="description">{{ notice.description }}</div>
                        </div>
                    {% endfor %}
            </div>
        <div class="clear-fix"></div>

        <div class="col-md-offset-1 col-md-3">
        <div class="rightSide">
            <div class="team">
                <p>{{ teamName.team1 }}</p>
                {% for players in consist.team1.activePlayers %}
                <div>
                    {{ players.player.name }}

                    {% if players.player.time is defined %}
                        {{ players.player.time }}
                        {% else %}
                        {{ time.finalTime }}
                    {% endif %}

                    {% if players.card.yellowCard is defined %}
                        {% for i in 1..players.card.yellowCard.count %}
                            {% if i == 2 %}
                                <div class="yellowCard"><div class="twoYellowCards"></div></div>
                                {% else %}
                                <div class="yellowCard"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if players.card.redCard is defined %}
                        {% for i in 1..players.card.redCard.count %}
                            <div class="redCard"></div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}

                <p>Запас</p>

                {% for players in consist.team1.passivePlayers %}
                    <div>
                        {{ players.player.name }}

                        {% if players.player.time is defined %}
                            {{ players.player.time }}
                        {% else %}
                            0
                        {% endif %}

                        {% if players.card.yellowCard is defined %}
                            {% for i in 1..players.card.yellowCard.count %}
                                {% if i == 2 %}
                                    <div class="yellowCard"><div class="twoYellowCards"></div></div>
                                {% else %}
                                    <div class="yellowCard"></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if players.card.redCard is defined %}
                            {% for i in 1..players.card.redCard.count %}
                                <div class="redCard"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="team">
                <p>{{ teamName.team2 }}</p>
                {% for players in consist.team2.activePlayers %}
                    <div>
                        {{ players.player.name }}

                        {% if players.player.time is defined %}
                            {{ players.player.time }}
                        {% else %}
                            {{ time.finalTime }}
                        {% endif %}

                        {% if players.card.yellowCard is defined %}
                            {% for i in 1..players.card.yellowCard.count %}
                                {% if i == 2 %}
                                    <div class="yellowCard"><div class="twoYellowCards"></div></div>
                                {% else %}
                                    <div class="yellowCard"></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if players.card.redCard is defined %}
                            {% for i in 1..players.card.redCard.count %}
                                <div class="redCard"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <p>Запас</p>
                {% for players in consist.team2.passivePlayers %}
                    <div>
                        {{ players.player.name }}

                        {% if players.player.time is defined %}
                            {{ players.player.time }}
                        {% else %}
                            0
                        {% endif %}

                        {% if players.card.yellowCard is defined %}
                            {% for i in 1..players.card.yellowCard.count %}
                                {% if i == 2 %}
                                    <div class="yellowCard"><div class="redCard"></div></div>
                                {% else %}
                                    <div class="yellowCard"></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if players.card.redCard is defined %}
                            {% for i in 1..players.card.redCard.count %}
                                <div class="redCard"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="team">
                <p>Список игроков, которые вышли на замену в команде "{{ teamName.team1 }}"</p>
                {% for player in replacedPlayers.team1.inPlayers %}
                    <div>
                        {{ player.name }}
                    </div>
                {% endfor %}
            </div>

            <div class="team">
                <p>Список игроков, которые вышли на замену в команде "{{ teamName.team2 }}"</p>
                {% for player in replacedPlayers.team2.inPlayers %}
                    <div>
                        {{ player.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}