.name_teams {
  text-align: center;
}
.name_teams span {
  font-size: 25px;
  margin-left: 20px;
}
.score {
  text-align: center;
}
.score span {
  font-size: 25px;
  margin-left: 50px;
}
.info .time {
  width: 3%;
  float: left;
}
.info .description {
  width: 97%;
  margin-left: 25px;
}
.rightSide .team {
  margin-bottom: 60px;
}
.rightSide .team p {
  text-align: center;
}
.rightSide .team .yellowCard {
  display: inline-block;
  background-color: yellow;
  border: 1px solid;
  width: 10px;
  height: 15px;
  position: relative;
}
.rightSide .team .twoYellowCards {
  display: inline-block;
  background-color: red;
  border: 1px solid;
  width: 10px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 2px;
}
.rightSide .team .redCard {
  display: inline-block;
  background-color: red;
  border: 1px solid;
  width: 10px;
  height: 15px;
}
