.content{

}
.name_teams{
    text-align: center;
    span{
        font-size: 25px;
        margin-left: 20px;
    }
}

.score {
    text-align: center;
    span {
        font-size: 25px;
        margin-left: 50px;
    }
}

.info {
    .time {
        width: 3%;
        float: left;
    }
    .description {
        width: 97%;
        margin-left: 25px;
    }
}

.rightSide{
    .team{
        margin-bottom: 60px;
        p{
            text-align: center;
        }
        .yellowCard{
            display: inline-block;
            background-color: yellow;
            border: 1px solid;
            width: 10px;
            height: 15px;
            position: relative;
        }
        .twoYellowCards{
            display: inline-block;
            background-color: red;
            border: 1px solid;
            width: 10px;
            height: 15px;
            position: absolute;
            top: 5px;
            left: 2px;
        }
        .redCard{
            display: inline-block;
            background-color: red;
            border: 1px solid;
            width: 10px;
            height: 15px;
        }
    }
}


